.contacts__button {
  width: 169px;
  height: 45px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
  margin-top: 50px;
}
