.contacts__button {
  width: 169px;
  height: 45px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
  /* margin-top: 50px; */
  margin: 35px 0 109px;
}

.contacts__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1700px) {
  .contacts__button {
    margin: 33px 0 95px;
  }
}
@media screen and (max-width: 1570px) {
  .contacts__button {
    width: 155px;
    height: 36px;

    font-size: 16px;
    line-height: 19px;
    margin: 25px 0 78px;
  }
}
@media screen and (max-width: 1350px) {
  .contacts__button {
    width: 146px;
    height: 34px;

    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 61px;
  }
}
@media screen and (max-width: 900px) {
  .contacts__button {
    width: 100px;
    height: 24px;

    font-size: 10px;
    line-height: 12px;
    margin: 13px 0 40px;
  }
}
