@import url(./__title/description__title.css);
@import url(./__container-text/description__container-text.css);
@import url(./__text/description__text.css);

.description {
  margin-left: 253px;
}

@media screen and (max-width: 1700px) {
  .description {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1570px) {
  .description {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1350px) {
  .description {
    margin-left: 100px;
  }
}
@media screen and (max-width: 900px) {
  .description {
    margin-left: 65px;
  }
}
@media screen and (max-width: 400px) {
  .description {
    margin-left: 30px;
  }
}
