.production__item-image {
  width: 230px;
  height: 230px;
  transition: 0.3s linear;
}

@media screen and (max-width: 1700px) {
  .production__item-image {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 1570px) {
  .production__item-image {
    width: 210px;
    height: 210px;
  }
}
@media screen and (max-width: 1000px) {
  .production__item-image {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 900px) {
  .production__item-image {
    width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 800px) {
  .production__item-image {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 660px) {
  .production__item-image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 550px) {
  .production__item-image {
    width: 130px;
    height: 130px;
  }
}
