@import url(./__title/contacts__title.css);
@import url(./__container/contacts__container.css);
@import url(./__subtitle/contacts__subtitle.css);
@import url(./__text/contacts__text.css);
@import url(./__button/contacts__button.css);
@import url(./__map/contacts__map.css);

.contacts {
  background: #282b33;
  /* padding: 0 0 0 253px; */
  display: flex;
  justify-content: flex-start;
}

/* @media screen and (max-width: 1700px) {
  .contacts {
    padding: 0 0 0 200px;
  }
}
@media screen and (max-width: 1570px) {
  .contacts {
    padding: 0 0 0 150px;
  }
}
@media screen and (max-width: 1350px) {
  .contacts {
    padding: 0 0 0 100px;
  }
}
@media screen and (max-width: 900px) {
  .contacts {
    padding: 0 0 0 65px;
  }
}
@media screen and (max-width: 550px) {
  .contacts {
    padding: 0 0 0 30px;
  }
} */
@media screen and (max-width: 400px) {
  .contacts {
    flex-direction: column;
  }
}
