.description__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #282b33;
  mix-blend-mode: normal;
  max-width: 685px;
  margin: 0 49px 0 0;
}

@media screen and (max-width: 1700px) {
  .description__text {
    font-size: 17px;
    line-height: 28px;
    margin: 0 50px 0 0;
    max-width: 620px;
  }
}
@media screen and (max-width: 1570px) {
  .description__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 51px 0 0;
    max-width: 570px;
  }
}
@media screen and (max-width: 1350px) {
  .description__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 53px 0 0;
    max-width: 513px;
  }
}
@media screen and (max-width: 900px) {
  .description__text {
    font-size: 10px;
    line-height: 18px;
    margin: 0 30px 0 0;
    max-width: 305px;
  }
}
@media screen and (max-width: 550px) {
  .description__text {
    margin: 10px 30px 10px 0;
    max-width: 500px;
  }
}
