.description__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #282b33;
  mix-blend-mode: normal;
  width: 685px;
  margin: 0 49px 0 0;
}
