@import url(./__input/form__input.css);
@import url(./__container-contacts/form__container-contacts.css);
@import url(./__textarea/form__textarea.css);
@import url(./__button/form__button.css);

.form {
  margin: 100px 0 0 180px;
  width: 870px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1700px) {
  .form {
    margin: 90px 0 0 170px;
    width: 800px;
  }
}
@media screen and (max-width: 1570px) {
  .form {
    margin: 80px 0 0 160px;
    width: 750px;
  }
}
@media screen and (max-width: 1350px) {
  .form {
    margin: 70px 0 0 150px;
    width: 656px;
  }
}
@media screen and (max-width: 900px) {
  .form {
    margin: 50px 0 0 85px;
    width: 388px;
  }
}
