@import url(./__title/production__title.css);
@import url(./__list/production__list.css);
@import url(./__item/production__item.css);
@import url(./__image/production__image.css);
@import url(./__text/production__text.css);
@import url(./__item-link/production__item-link.css);
@import url(./__list/_page/production__list_page.css);
@import url(./__item-image/production__item-image.css);

.production {
  margin: 0 0 85px 253px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1700px) {
  .production {
    margin: 0 0 85px 200px;
  }
}
@media screen and (max-width: 1570px) {
  .production {
    margin: 0 0 85px 150px;
  }
}
@media screen and (max-width: 1350px) {
  .production {
    margin: 0 0 85px 100px;
  }
}
@media screen and (max-width: 900px) {
  .production {
    margin: 0 0 85px 65px;
  }
}
@media screen and (max-width: 700px) {
  .production {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .production {
    margin: 0 0 30px 30px;
  }
}
