.production__item-link {
  text-decoration: none;
  max-width: 320px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.production__item-link:hover {
  /* opacity: 0.8; */
  text-decoration: underline;
  color: #282b33d8;
}

@media screen and (max-width: 1700px) {
  .production__item-link {
    max-width: 290px;
  }
}
@media screen and (max-width: 1400px) {
  .production__item-link {
    width: 234px;
  }
}
@media screen and (max-width: 1200px) {
  .production__item-link {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .production__item-link {
    max-width: 137px;
  }
}
