.page {
  min-width: 310px;
  max-width: 1920px;
  margin: auto;
  font-family: "Golos Text", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  /* background-color: #e5e5e5; */
  background-color: #fff;
}
