.footer__navigatoin-link {
  margin-right: 40px;
}

@media screen and (max-width: 1700px) {
  .footer__navigatoin-link {
    margin-right: 35px;
  }
}
@media screen and (max-width: 1350px) {
  .footer__navigatoin-link {
    margin-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .footer__navigatoin-link {
    margin-right: 20px;
  }
}
