.header__contacts {
  max-width: 250px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-start;
}

@media screen and (max-width: 1700px) {
  .header__contacts {
    max-width: 240px;
    min-height: 80px;
  }
}
@media screen and (max-width: 1400px) {
  .header__contacts {
    max-width: 230px;
    min-height: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .header__contacts {
    max-width: 210px;
    min-height: 55px;
  }
}
@media screen and (max-width: 900px) {
  .header__contacts {
    max-width: 185px;
    min-width: 130px;
    min-height: 45px;
  }
}
@media screen and (max-width: 700px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header__contacts {
    display: none;
  }
}
