.contacts__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  border-top: 5px solid #2b8d44;
  margin: 100px 0 0;
  padding-top: 20px;
  width: 225px;
}

@media screen and (max-width: 1700px) {
  .contacts__title {
    font-size: 37px;
    line-height: 42px;
    margin: 90px 0 0;
    width: 210px;
  }
}
@media screen and (max-width: 1570px) {
  .contacts__title {
    font-size: 33px;
    line-height: 39px;
    margin: 80px 0 0;
    width: 185px;
  }
}
@media screen and (max-width: 1350px) {
  .contacts__title {
    font-size: 30px;
    line-height: 36px;
    margin: 70px 0 0;
    width: 170px;
  }
}
@media screen and (max-width: 900px) {
  .contacts__title {
    font-size: 18px;
    line-height: 22px;
    margin: 40px 0 0;
    width: 103px;
    padding-top: 15px;
    border-top: 3px solid #2b8d44;
  }
}
