.production-page__marker {
  font-size: 16px;
  color: #282b33;
}

/* .production-page__text {
  max-width: 1000px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #282b33;
  mix-blend-mode: normal;
  margin: 20px 20px 0 0;
} */

@media screen and (max-width: 1570px) {
  .production-page__marker {
    font-size: 15px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__marker {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__marker {
    font-size: 10px;
  }
}
