.production-page__nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #282b33;
  text-decoration: none;
  margin: 32px 0 0;
}

.production-page__nav-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1700px) {
  .production-page__nav-link {
  }
}
@media screen and (max-width: 1570px) {
  .production-page__nav-link {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__nav-link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__nav-link {
    font-size: 12px;
    line-height: 18px;
  }
}
