.production-page__nav-list {
  list-style: none;
  padding: 0;
  margin: 0 0 100px;
}

@media screen and (max-width: 1700px) {
  .production-page__nav-list {
    max-width: 320px;
  }
}
@media screen and (max-width: 1570px) {
  .production-page__nav-list {
    max-width: 280px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__nav-list {
    max-width: 240px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__nav-list {
    max-width: 240px;
  }
}
