.footer__phone {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #787982;
  /* margin: 75px 0 0 0px; */
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 1700px) {
  .footer__phone {
    font-size: 24px;
    line-height: 28px;
    /* margin: 65px 0 0 0px; */
    margin: 0;
    width: 210px;
  }
}
@media screen and (max-width: 1570px) {
  .footer__phone {
    font-size: 22px;
    line-height: 25px;
    /* margin: 55px 0 0 0px; */
    margin: 0;
    width: 190px;
  }
}
@media screen and (max-width: 1400px) {
  .footer__phone {
    font-size: 18px;
    line-height: 21px;
    /* margin: 44px 0 0 0px; */
    margin: 0;
    width: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__phone {
    font-size: 16px;
    line-height: 18px;
    /* margin: 44px 0 0 0px; */
    margin: 0;
    width: 140px;
  }
}
@media screen and (max-width: 900px) {
  .footer__phone {
    font-size: 12px;
    line-height: 14px;
    /* margin: 37px 0 0 0px; */
    margin: 0;
    width: 113px;
  }
}
