.header__contacts-phone {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 27px;
  line-height: 31px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1700px) {
  .header__contacts-phone {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1570px) {
  .header__contacts-phone {
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1350px) {
  .header__contacts-phone {
    font-size: 20px;
    line-height: 23px;
  }
}
