.header__logo {
  max-width: 285px;
  max-height: 69px;
  margin-right: 90px;

  align-self: self-start;
}

@media screen and (max-width: 1700px) {
  .header__logo {
    max-width: 230px;
    max-height: 53px;
  }
}
@media screen and (max-width: 1400px) {
  .header__logo {
    max-width: 188px;
    max-height: 46px;
  }
}
@media screen and (max-width: 1200px) {
  .header__logo {
    max-width: 188px;
    max-height: 46px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 97px;
    max-height: 23px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 400px) {
  .header__logo {
    max-width: 160px;
    max-height: 40px;
  }
}
