.mobile-menu__contacts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 34px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  margin: 37px auto 0;
}

.mobile-menu__contacts-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
