@import url(./__container/header__container.css);
@import url(./__logo/header__logo.css);
@import url(./__container-center/header__container-center.css);
@import url(./__contacts/header__contacts.css);
@import url(./__text/header__text.css);
@import url(./__navigatoin/header__navigatoin.css);
@import url(./__navigatoin-link/header__navigatoin-link.css);
@import url(./__navigatoin-link-text/header__navigatoin-link-text.css);
@import url(./__contacts-button/header__contacts-button.css);
@import url(./__contacts-arrow/header__contacts-arrow.css);
@import url(./__contacts-phone/header__contacts-phone.css);
@import url(./__icon-point/header__icon-point.css);

.header {
  max-width: 1920px;
  height: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../images/Banner_top.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
