@import url(./__container/header__container.css);
@import url(./__logo/header__logo.css);
@import url(./__container-center/header__container-center.css);
@import url(./__container-adress/header__container-adress.css);
@import url(./__contacts/header__contacts.css);
@import url(./__text/header__text.css);
@import url(./__navigatoin/header__navigatoin.css);
@import url(./__navigatoin-link/header__navigatoin-link.css);
@import url(./__navigatoin-link-text/header__navigatoin-link-text.css);
@import url(./__contacts-button/header__contacts-button.css);
@import url(./__contacts-arrow/header__contacts-arrow.css);
@import url(./__contacts-phone/header__contacts-phone.css);
@import url(./__icon-point/header__icon-point.css);
@import url(./__button-menu/header__button-menu.css);
@import url(./__link/header__link.css);
@import url(./__navigatoin-link-text/__navigatoin-text_active/header__navigatoin-text_active.css);

.header {
  min-height: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../images/Banner_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 100px;
    background-size: 1000px 115px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    min-height: 150px;
    background-size: 1000px 155px;
  }
}
