.footer__container-phone {
  margin-left: 150px;
  /* padding-left: 20%; */
}

@media screen and (max-width: 1570px) {
  .footer__container-phone {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1400px) {
  .footer__container-phone {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container-phone {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .footer__container-phone {
    margin: 0 50px 0 30px;
  }
}
@media screen and (max-width: 550px) {
  .footer__container-phone {
    display: none;
  }
}
