.footer__navigatoin {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  padding: 0;
  margin: 0;
  margin: 75px 0 0;
}

.footer__navigatoin:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1700px) {
  .footer__navigatoin {
    margin: 65px 0 0;
  }
}
@media screen and (max-width: 1570px) {
  .footer__navigatoin {
    margin: 55px 0 0;
  }
}
@media screen and (max-width: 1350px) {
  .footer__navigatoin {
    margin: 45px 0 0;
  }
}
@media screen and (max-width: 900px) {
  .footer__navigatoin {
    margin: 38px 0 0;
  }
}
