.partners__list {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .partners__list {
    margin: 30px 0 0 0;
  }
}
