.form__container-contacts {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .form__container-contacts {
    width: 87%;
    justify-content: space-between;
  }
}
/* @media screen and (max-width: 900px) {
  .form__container-contacts {
    width: 370px;
    justify-content: flex-start;
  }
} */
