.description__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #282b33;
  border-top: 5px solid #2b8d44;
  margin: 100px 0 0;
  padding-top: 20px;
  width: 493px;
}

@media screen and (max-width: 1700px) {
  .description__title {
    font-size: 37px;
    line-height: 42px;
    margin: 93px 0 0;
    width: 460px;
  }
}
@media screen and (max-width: 1570px) {
  .description__title {
    font-size: 33px;
    line-height: 39px;
    margin: 86px 0 0;
    width: 408px;
  }
}
@media screen and (max-width: 1350px) {
  .description__title {
    font-size: 30px;
    line-height: 36px;
    margin: 80px 0 0;
    width: 374px;
  }
}
@media screen and (max-width: 900px) {
  .description__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px 0 0;
    width: 222px;
    padding-top: 15px;
    border-top: 3px solid #2b8d44;
  }
}
@media screen and (max-width: 400px) {
  .description__title {
    margin: 30px 0 0;
  }
}
