.production__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #282b33;
  margin: 35px 0 0;
}

@media screen and (max-width: 1700px) {
  .production__text {
    font-size: 21px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1570px) {
  .production__text {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1400px) {
  .production__text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .production__text {
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 900px) {
  .production__text {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0 0;
  }
}
