.form__textarea {
  background: rgba(255, 255, 255, 0.2);
  width: 851px;
  height: 170px;
  border: none;
  /* margin: 0 20px 20px 0; */
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-left: 18px;
  padding-top: 16px;
}

.form__textarea::placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 1700px) {
  .form__textarea {
    width: 800px;
    height: 155px;
  }
}
@media screen and (max-width: 1570px) {
  .form__textarea {
    width: 750px;
    height: 140px;
    font-size: 16px;
    line-height: 19px;
  }
  .form__textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 1350px) {
  .form__textarea {
    width: 656px;
    height: 130px;
    font-size: 14px;
    line-height: 17px;
  }
  .form__textarea::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 900px) {
  .form__textarea {
    width: 370px;
    height: 95px;
    font-size: 10px;
    line-height: 12px;
  }
  .form__textarea::placeholder {
    font-size: 10px;
    line-height: 12px;
  }
}
