.form__input {
  background: rgba(255, 255, 255, 0.2);
  height: 54px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #fff;
  padding-left: 18px;
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-top: 5px;
}
.form__input::-moz-placeholder {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
}
/* .form__input:-moz-placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
} */

@media screen and (max-width: 1700px) {
  .form__input {
    height: 50px;
  }
}
@media screen and (max-width: 1570px) {
  .form__input {
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
  .form__input::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  .form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1400px) {
  .form__input {
    height: 44px;
    font-size: 14px;
    line-height: 17px;
  }
  .form__input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .form__input::-moz-placeholder {
    font-size: 14px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1200px) {
  .form__input {
    height: 36px;
  }
  .form__input::-moz-placeholder {
    line-height: 34px;
  }
}
@media screen and (max-width: 900px) {
  .form__input {
    height: 28px;
    font-size: 10px;
    line-height: 12px;
  }
  .form__input::placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .form__input::-moz-placeholder {
    font-size: 10px;
    line-height: 27px;
  }
}
@media screen and (max-width: 400px) {
  .form__input {
    padding-left: 10px;
  }
}
