@import url(./__title/partners__title.css);
@import url(./__list/partners__list.css);
@import url(./__item/partners__item.css);
@import url(./__image/partners__image.css);

.partners {
  display: flex;
  flex-direction: column;
  padding: 0 0 85px 253px;
}

@media screen and (max-width: 1700px) {
  .partners {
    padding: 0 0 85px 200px;
  }
}
@media screen and (max-width: 1570px) {
  .partners {
    padding: 0 0 85px 150px;
  }
}
@media screen and (max-width: 1350px) {
  .partners {
    padding: 0 0 85px 100px;
  }
}
@media screen and (max-width: 900px) {
  .partners {
    padding: 0 0 45px 65px;
  }
}
@media screen and (max-width: 550px) {
  .partners {
    padding: 0 0 45px 30px;
  }
}
