.production-page__subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #282b33;
  border-top: 5px solid #2b8d44;
  margin: 70px 0 45px;
  padding-top: 20px;
  width: 492px;
}

@media screen and (max-width: 1700px) {
  .production-page__subtitle {
    font-size: 37px;
    line-height: 42px;
    margin: 70px 0 40px;
    width: 455px;
  }
}
@media screen and (max-width: 1570px) {
  .production-page__subtitle {
    font-size: 33px;
    line-height: 39px;
    margin: 70px 0 30px;
    width: 410px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 70px 0 15px;
    width: 370px;
  }
}
