.production__image {
  width: 130px;
  height: 130px;
}

@media screen and (max-width: 1700px) {
  .production__image {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 1570px) {
  .production__image {
    width: 115px;
    height: 115px;
  }
}
@media screen and (max-width: 1350px) {
  .production__image {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 900px) {
  .production__image {
    width: 80px;
    height: 80px;
  }
}
