.production-page__title {
  max-width: 932px;
  max-width: 1000px;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #282b33;
  margin: 70px 0 0 0;
  border-top: 5px solid #2b8d44;
  padding-top: 31px;
}

@media screen and (max-width: 1700px) {
  .production-page__title {
    font-size: 60px;
    line-height: 72px;
    max-width: 875px;
  }
}
@media screen and (max-width: 1570px) {
  .production-page__title {
    font-size: 55px;
    line-height: 68px;
    max-width: 800px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__title {
    font-size: 48px;
    line-height: 58px;
    max-width: 700px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__title {
    border-top: 3px solid #2b8d44;
    font-size: 28px;
    line-height: 34px;
    max-width: 410px;
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 520px) {
  .production-page__title {
    max-width: 370px;
    margin: 30px 0 0 0;
  }
}
@media screen and (max-width: 400px) {
  .production-page__title {
    max-width: 290px;
    margin: 20px 0 0 0;
  }
}
