.footer__navigatoin-link-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #787982;
  text-decoration: none;
}

.footer__navigatoin-link-text:hover {
  opacity: 0.8;
}
