@import url(./__container/request-form__container.css);
@import url(./__title/request-form__title.css);
@import url(./__text/request-form__text.css);

.request-form {
  background: #282b33;
  padding: 0 0 100px 253px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1700px) {
  .request-form {
    padding: 0 0 90px 200px;
  }
}
@media screen and (max-width: 1570px) {
  .request-form {
    padding: 0 0 80px 150px;
  }
}
@media screen and (max-width: 1350px) {
  .request-form {
    padding: 0 0 70px 100px;
  }
}
