@import url(../vendors/normalize.css);
@import url(../fonts/golostext.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/greating/greating.css);
@import url(../blocks/description/description.css);
@import url(../blocks/production/production.css);
@import url(../blocks/request-form/request-form.css);
@import url(../blocks/form/form.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/delivery/delivery.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/production-page/production-page.css);
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/_opened/mobile-menu_opened.css);
