.delivery__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #282b33;
  border-top: 5px solid #2b8d44;
  margin: 100px 16px 0 0;
  padding-top: 20px;
  max-width: 664px;
}

@media screen and (max-width: 1700px) {
  .delivery__title {
    font-size: 37px;
    line-height: 42px;
    margin: 90px 0 0;
    max-width: 615px;
  }
}
@media screen and (max-width: 1570px) {
  .delivery__title {
    font-size: 33px;
    line-height: 39px;
    margin: 80px 0 0;
    max-width: 550px;
  }
}
@media screen and (max-width: 1400px) {
  .delivery__title {
    font-size: 30px;
    line-height: 36px;
    margin: 70px 0 0;
    max-width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .delivery__title {
    max-width: 315px;
  }
}
@media screen and (max-width: 900px) {
  .delivery__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px 0 0;
    max-width: 300px;
    padding-top: 15px;
    border-top: 3px solid #2b8d44;
  }
}
