@import url(./__navigatoin/footer__navigatoin.css);
@import url(./__container-nav/footer__container-nav.css);
@import url(./__navigatoin-link/footer__navigatoin-link.css);
@import url(./__navigatoin-link-text/footer__navigatoin-link-text.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__container/footer__container.css);
@import url(./__text/footer__text.css);
@import url(./__icon-point/footer__icon-point.css);
@import url(./__container-phone/footer__container-phone.css);
@import url(./__phone/footer__phone.css);
@import url(./__navigatoin-link-text/__navigatoin-text_active/footer__navigatoin-text_active.css);
@import url(./__copyright/_timetable/footer__copyright_timetable.css);

.footer {
  padding: 0 0 70px 253px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1700px) {
  .footer {
    padding: 0 0 66px 200px;
  }
}
@media screen and (max-width: 1570px) {
  .footer {
    padding: 0 0 63px 150px;
  }
}
@media screen and (max-width: 1400px) {
  .footer {
    padding: 0 0 60px 100px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 0 40px 60px 10px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 0 0 37px 65px;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
