.contacts__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  mix-blend-mode: normal;
  margin: 30px 0 0;
}

@media screen and (max-width: 1700px) {
  .contacts__subtitle {
  }
}
@media screen and (max-width: 1570px) {
  .contacts__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin: 25px 0 0;
  }
}
@media screen and (max-width: 1350px) {
  .contacts__subtitle {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 900px) {
  .contacts__subtitle {
    font-size: 14px;
    line-height: 14px;
    margin: 15px 0 0;
  }
}
