.description__container-text {
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 900px) {
  .description__container-text {
    margin-top: 15px;
  }
}
@media screen and (max-width: 400px) {
  .description__container-text {
    flex-direction: column;
    margin-top: 5px;
  }
}
