.production-page__menu-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #282b33;
  border-top: 5px solid #2b8d44;
  margin: 70px 0 0;
  padding-top: 20px;
  width: 255px;
}

@media screen and (max-width: 1700px) {
  .production-page__menu-title {
    font-size: 37px;
    line-height: 42px;
    width: 240px;
  }
}
@media screen and (max-width: 1570px) {
  .production-page__menu-title {
    font-size: 33px;
    line-height: 39px;
    width: 212px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__menu-title {
    font-size: 30px;
    line-height: 36px;
    width: 190px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__menu-title {
    font-size: 18px;
    line-height: 22px;
    margin: 40px 0 0;
    width: 120px;
    padding-top: 15px;
    border-top: 3px solid #2b8d44;
  }
}
@media screen and (max-width: 400px) {
  .production-page__menu-title {
    margin: 30px 0 0;
  }
}
