.production-page__text {
  max-width: 1000px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #282b33;
  mix-blend-mode: normal;
  margin: 20px 20px 0 0;
}

@media screen and (max-width: 1570px) {
  .production-page__text {
    font-size: 16px;
    line-height: 28px;
    max-width: 900px;
  }
}
@media screen and (max-width: 1350px) {
  .production-page__text {
    font-size: 14px;
    line-height: 24px;
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  .production-page__text {
    font-size: 10px;
    line-height: 18px;
    max-width: 472px;
  }
}
