.production__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #282b33;
  border-top: 5px solid #2b8d44;
  margin: 100px 0 0;
  padding-top: 20px;
  width: 255px;
}
