.production__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 50px; */
  grid-row-gap: 75px;
  grid-column-gap: 40px;
  justify-content: center;
  margin: 100px 0 0 75px;
  list-style: none;
}

@media screen and (max-width: 1700px) {
  .production__list {
    grid-row-gap: 72px;
    margin: 89px 0 0 70px;
  }
}
@media screen and (max-width: 1570px) {
  .production__list {
    grid-row-gap: 68px;
    margin: 82px 0 0 70px;
  }
}
@media screen and (max-width: 1400px) {
  .production__list {
    grid-row-gap: 55px;
    margin: 75px 0 0 70px;
  }
}
@media screen and (max-width: 1200px) {
  .production__list {
    grid-row-gap: 55px;
    grid-column-gap: 10px;
    margin: 75px 0 0 20px;
    padding: 0px 0 0 5px;
  }
}
@media screen and (max-width: 900px) {
  .production__list {
    grid-row-gap: 40px;
    margin: 50px 0 0 50px;
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .production__list {
    margin: 50px 0 0 0px;
    grid-column-gap: 0px;
  }
}
@media screen and (max-width: 400px) {
  .production__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    margin: 30px 0 0;
    max-width: 300px;
  }
}
